.page-header__wrapper
  header.page-header.container
    nav.page-header__menu.menu
      a.page-header__logo.logo(href="#")
        img(src="./img/logo.svg" width="63" height="52" alt="Котейка")
      ul.menu__list
        li.menu__item
          a(href="#") Почему мы?
        li.menu__item
          a(href="#") Номера
        li.menu__item
          a(href="#") Отзывы
        li.menu__item
          a(href="#") Как нас найти
