.page-header {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.page-header__wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--base-white);
  box-shadow: 0px 4px 4px var(--base-black-25);
}

.page-header__logo {
  margin-top: 6px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: var(--link-color);
    transition: color 300ms ease;
    display: block;
    padding: 5px;

    &:hover,
    &:focus {
      color: var(--accent-focus-color);
      transition: color 300ms ease;
    }
  }
}
